*
{
    font-family: 'Ubuntu', sans-serif;
}

h1, h2
{
    color: #1034A6;
    font-weight: bold;
}

body
{
    background-color: #F8FCFF;
    font-weight: 500;
}

em
{
    font-style: italic;
}

strong
{
    font-weight: bold;
}

u
{
    text-decoration: underline;
}

span.baddirection { unicode-bidi:bidi-override; direction: rtl; }
